/* Global colors */
:root {
    --dark-color: #333;
    --light-color: rgb(240, 240, 240);
}

/* Reset */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body setting height and font */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: var(--light-color);
}

/* Header */
header {
    width: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: row;
}

.timer {
    font-size: 1.2rem;
    margin-right: 2em;
    margin-left: auto;
    padding: 1em;
    color: var(--dark-color);
}

/* Buttons */

.btn {
    background-color: var(--dark-color);
    color: var(--light-color);
    cursor: pointer;
    border: none;
    border-radius: 20px;
    outline: none;
}

.highscore-btn {
    padding: .5em 1em;
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    border: 2px solid var(--dark-color);
    transition: all .3s ease;
}

.highscore-btn:hover {
    color: var(--dark-color);
    background-color: var(--light-color);
    border: 2px solid var(--dark-color);
    transition: all .3s ease;
}

.start-btn {
    font-size: 1.2rem;
    padding: .6em 1.2em;
    border: 2px solid var(--dark-color);
    transition: all .3s ease;
}

.start-btn:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    transition: all .3s ease;
}
/* Sets the margins for all of the different things that are going to need to pop up in the main area */
main {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main p {
    font-size: 1.5rem;
}

main h1 {
    font-size: 3rem;
}

/* Welcome Div Style */
.welcome-message {
    display: static;
    /* display: none; */
}

.welcome-message p {
    margin: 1em;
}


/* Game Space Style */
.game-space {
    display: none;
    flex-direction: column;
}

.game-space h1 {
    color: var(--dark-color);
}

hr {
    width: 75%;
    margin: 0 auto;
    border: 1px solid var(--dark-color);
}

.answer-btn {
    color: var(--light-color);
    background-color: var(--dark-color);
    border: 2px solid var(--dark-color);
    margin: 1em auto;
    padding: 1em 0;
    border-radius: 20px;
    width: 75%;
    cursor: pointer;
    transition: all .3s ease;
    outline: none;
}

.answer-btn:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    transition: all .3s ease;
}

/* EndGame Screen */
.endgame {
    flex-direction: column;
    color: var(--dark-color);
}

.endgame h2 {
    margin: 1em 0;
}

.end-btn-div {
    width: 50%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
}

.end-btn {
    margin: .5em auto;
}

/* Highscore Input Styles */
.hs-form {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 0 auto;
}

.hs-input {
    width: 100%;
    margin-right: 10px;
    height: 4em;
    padding: 0 1.5em;
    border: 2px solid var(--dark-color);
    background-color: var(--light-color);
    color: var(--dark-color);
    border-radius: 15px;
    outline: none;
    text-transform: uppercase;
}

/* High Scores */
.high-score-div {
    width: 75%;
    margin: 0 auto;
    flex-direction: column;
    color: var(--dark-color);
}

.high-score-div h1 {
    font-size: 3.5rem;
}

.high-score-div h2 {
    font-size: 3rem;
}

@media screen and (max-width: 750px) {
    :root {
        font-size: 12px;
    }
}

@media screen and (max-width: 640px) {
    :root {
        font-size: 12px;
    }

    .answer-btn {
        width: 90%;
    }

    .game-space {
        width: 100%;
    }

    .end-btn-div {
        width: 75%;
    }

    .end-btn {
        font-size: 1.5rem;
    }

    .high-score-div h1 {
        font-size: 3rem;
    }

    .high-score-div h2 {
        font-size: 2rem;
    }

    .hs-form {
        width: 100%;
    }
}